body{
    background-color:#F2F0F0;
    color:#464646;
    font-family:arial;
}
.header{
    border-top:30px solid #5FA022;
    background-color:#F2F0F0;
    height:150px;
    box-shadow:1px 1px 10px #DDDBDB;
    z-index:1;
    position:relative;
}
.menu li{
    text-transform:uppercase;
    display:inline-block;
    margin-top:50px;
    font-family:'Noto Sans', sans-serif;
    font-size:18px;
}
.menu li a{
    color:#85423f;
    padding:8px 12px 8px 12px;
    text-decoration:none;
    border-radius:5px;
    transition:all 0.2s ease-in;
}
.menu li a:active, .menu li a:hover, .menu li a.active{
    background-color:#E2827E;
    color:#fff;
    border-radius:5px;
}
.slider{
    overflow:hidden;
    height:615px;
    width:100%;
    position:relative;
}
.slider ul{
    margin:0;
    padding:0;
}
.slider li{
    display:block;
}
.slider img{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
a{
    color:#E2827E;
}
a:hover, a:active, a:focus{
    color:#5FA022;
}
h2, h3{
    color:#5D0400;
    font-family:times;
    font-size:28px;
}
.content li{
    line-height:1.8em;
}
.btn.btn-primary{
    background-color:#E2827E;
    border:0;
    transition:all 0.3s ease-in;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:focus{
    background-color:#5FA022;
    border:0;
}
hr{
    display:block;
    width:942px;
    height:15px;
    background:transparent url(../img/hor_separator.png) center scroll;
    margin-top:45px;
    margin-bottom:20px;
}
ul{
    list-style:square;
}
.arrow-right, .arrow-left{
    width:30px;
    height:30px;
    background-image:url(../img/prevnext.png);
    display:inline-block;
}
.arrow-left{
    background-position:0 31px;
    transition:all 0.2s ease-in;
}
.arrow-right{
    background-position:31px 31px;
    transition:all 0.2s ease-in;
}
.arrow-right:hover{
    background-position:31px 0;
}
.arrow-left:hover{
    background-position:0 0;   
}
.best-choice h2{
    display:inline-block;
}
.arrows{
    float:right;
    margin-top:15px;
}
.best-choice img{
    border:1px solid #ddd;
    padding:5px;
    background-color:#fff;
}
.best-choice h4{
    font-size:12px;
    font-family:arial;
    color:#46464b;
    margin-bottom:3px;
    text-transform:uppercase;
}
.best-choice p{
    color:#826660;
    font-size:12px;
}
.dish span{
    color:#fff;
    background-color:#699440;
    padding:10px;
    font-weight:bold;
    margin-top:10px;
    display:inline-block;
}
.dish{
    margin:10px;
}
.follow-us i{
    color:#64A921;
    font-size:30px;
    margin-right:10px;
}
h3{
    font-size:22px;
}
.follow-us li{
    display:inline-block;
    text-transform:uppercase;
}
.follow-us li a{
    color:#46464b;
    padding:8px 24px 8px 0px;
    text-decoration:none;
    font-size:12px;
}
.follow-us ul{
    padding:0;
    margin-top:30px;
}
.follow-us li a:hover{
    color:#759440;
}
.follow-us .active{
    color:#759440;
}
.form-control{
    border-radius:0;
}
.footer{
    height:110px;
    background-color:#5FA022;
}
.footer p{
    line-height:110px;
    text-align:center;
    color:#fff;
    margin:0;
    font-weight:bold;
}

