.content{
    margin:0 10px 0 10px;
}
.hleft, .hright{
    height:10px;
    display:inline-block;
}
.hleft, .hright{
    width:650px;
}
.hleft{
    float:left;
    background-color:#AEA2D0;
}
.hright{
    float:right;
    background-color:#D27878;
}
h1{
    color:#4398CE;
    font-size:35px;
}
h1 span, .fa-star{
    margin-right:25px;
}
.tleft, h3{
    color:#6F6F6F;
}
.table td, h2, h3{
    font-size:25px;
}
.description{
    font-size:20px;
    text-align:justify;
}
hr{
    height:1px;
    width:100%;
    background-color:#4398CE;
}
.facebook, .facebook1{
    display:inline-block;
    font-size:20px;
    margin-top:85px;
}
.facebook1{
    margin-right:10px;
}
.none{
    height:20px;
}
.push{
    margin-left:15px;
}
.hola{
    color:#4398CE;
}
.fa-star{
    color:#AFA3D1;
}